.container{
   background-color: black;
   height: auto;
   min-height: 90vh;
   width: 80vw;
  border-radius: 15px;
  color: white;
}
h1{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        font-style: italic;
    }

input{
    display: flex;
    justify-self: center;
    width: 50vw;
    padding: 0.8rem  1rem;
    border-radius: 15px;
    border-color: white;
    outline: none;
    transition: box-shadow 0.15s ;
    font-size: 1.3rem;
    
}
input:hover{
    box-shadow: 1px 1px 24px rgb(229, 229, 238);
}

.addTask{
    display: flex;
    justify-self: center;
    margin-top: 1.5rem;
    padding: 0.5rem 2rem ;
    border-radius: 10px;
    background-color: powderblue;
    font-size: 1rem;
  

}

